<layout name="Layout/layout" />
<script src="__PUBLIC__/User/js/cart.js"></script>
<link rel="stylesheet" href="__PUBLIC__/User/css/cart.css">
	
<!--主体部分-->
<div class="container" style=" padding:0px;">
	<div style="margin-top:60px ;">
		<div class="row" style="margin:0 auto;">
		<form class="form-horizontal"  id="order_submit"  method="post" > <!-- action="{:U('Cart/orderSubmit')}"   -->
	
			<!--订单详情-->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-bottom:15px;padding-right:15px;">
				<div class="order">
					<foreach name="storeInfo"  item="vo">
					<div class="order-title">
						<input type="hidden" name="store_id" value="{$vo.id}">
						<img src="__PUBLIC__/Uploads/{$vo['sm_logo']}"  alt="..." class="img-rounded store-logo">
						<h3>{$vo.storename}</h3>
						<div class="order-line"></div>
						<span class="order-details">订单详情</span>
						<span class="order-details-2"  id="go-back">返回</span>
					</div>
					</foreach>
					
					<if condition="!empty($goodsData)">
					<div>
						<div class="itemname" style="color:#34D209;">商品</div>
						<div class="itemquantity" style="color:#34D209;">数量</div>
						<div class="itemtotal" style="color:#34D209;">单价</div>
					</div>
					<foreach name="goodsData" item="vo">
					<div>
						<div class="itemname">{$vo.goods_name}</div>
						<div class="itemquantity">
							<div class="input-group input-group-sm" style="width:90px;margin-top:3px;">
								<span class="input-group-addon reduce_num" style="border-radius:25px 0 0 25px;">-</span>
								<!-- <input type="text" class="form-control amount" _goodsId="{$vo['id']}"  _storeId="{$vo['store_id']}"  value="{$vo.goods_count}" /> -->
								<label class="form-control amount" _goodsId="{$vo['id']}"  _storeId="{$vo['store_id']}" >{$vo.goods_count}</label>
								<span class="input-group-addon add_num" style="border-radius:0 25px 25px 0;">+</span>
							</div>
						</div>
						<div class="itemtotal  unitPrice">¥{$vo.goods_price}</div>
					</div>
					</foreach>
					<div style="border-bottom:1px dashed #cccccc;">
						<div class="itemname" style="color:#34D209;">合计</div>
						<div class="itemquantity" ><lable id="totalAmount"  style="width:80px;display:block;text-align:center ;">0</lable></div>
						<div class="itemtotal"  id="totalPrice_1">¥0.00</div>
					</div>
					<div>
						<div class="itemtotal-2">餐盒费 ：<label style="color:#34D209;" id="lunchFee" >¥1.00</label></div>
					</div>
					<div>
						<div class="itemtotal-2">配送费 ：<label style="color:#34D209;" id="distributionCost">¥0.00</label></div>
					</div>
					<div>
						<div class="itemtotal-2" style="color:#34D209;font-size:18px;">
							应付 ：<label  id="totalPrice_2">¥0.00</label>
							<input type="hidden" name="total_price"  id="total_price"  value="0.00">
						</div>
					</div>
					<else/>
						<div  class="empty-cart">购物车为空！</div>
					</if>
					<div class="bottom_border"></div>
					
				</div>
			</div>
			<!--/订单详情-->
			
			<!--收餐信息-->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-bottom:15px;padding-right:15px;">
				<div class="checkout" style="padding-left:10px;padding-right:10px;" >
					<div>
						<h3 class="checkout-title" >收餐信息</h3>
						<span class="addrManagement"  id="selectAddr">选择一个收获地址</span>
					</div>
					<!--  <form class="form-horizontal" > -->
					  <div class="form-group">
						<label for="inputUsername" class="col-sm-2 control-label checkout-field">联系人</label>
						<div class="col-sm-5">
						  <input type="text" class="form-control" id="inputUsername"   name="scr_name" required title="请填写联系人" />
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputTel" class="col-sm-2 control-label checkout-field">收餐电话</label>
						<div class="col-sm-5">
						  <input type="text" class="form-control" id="inputTel"  name="scr_tel"   required pattern="^0?1[3|4|5|8][0-9]\d{8}$" title="请填写正确的手机号" />
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputAddr" class="col-sm-2 control-label checkout-field">收餐地址</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="inputAddr"  name="scr_address"  autocomplete="off" required />
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputRoomTime" class="col-sm-2 control-label checkout-field">送餐时间</label>
						<div class="col-sm-3">
						  	<select class="sendTime f-sel"  id="inputRoomTime"  name="room_time">
								<option value="0" >立即送出</option>
							</select>
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label checkout-field">支付方式</label>
						<div class="col-sm-10">
						 <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
							 <ul class="room-pay" style="padding:0;"> <!-- style="padding:0px 10px 0px 10px;"-->
								<li class="radioItem active offline f-orders normal_btn" >
									<input type="radio" autocomplete="off" name="payment_method"  value="0"  checked="checked"  />
									<a href="javascript:void(0);">
										餐到付款
									</a>
								</li>
								<li class="radioItem disable online normal_btn disable_btn f-orders" name="payment_method"  style="margin-left:20px;">  <!--   -->
									<input type="radio" autocomplete="off"  name="payment_method"  value="1"  />
									<a href="javascript:void(0);" title="该餐馆暂时不支持在线支付">
										在线支付
									</a>
								</li>
							</ul>
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label checkout-field">备注</label>
						<div class="col-sm-10">
						  <textarea class="form-control" rows="3"  name="mark"></textarea>
						</div>
					  </div>
					  <div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary btn_orderConfirm" style="width:120px;">确认下单</button>
						 	<div class="confirming" style="display: none;margin-left: 126px;color:#34D209">
									正在提交订单，请等待…
							</div>
						</div>
					  </div>
					<!--  </form> -->
				</div>
			</div>
			<!--/收餐信息-->
			
			
		</form>
		</div>
	</div>
</div>
<!--/主体部分-->
<script>
//提交表单数据
	
</script>
