<!-- 提示模态框声明 -->
<div class="modal fade" id="myModalTip" tabindex="-1" role="dialog">
	<!-- 窗口声明 -->
	<div class="modal-dialog" role="document"  style="width:300px;">
		<!-- 内容声明 -->
		<div class="modal-content">
			<div class="modal-body"  id="message">123</div>
			<div class="modal-footer">
				<button class="btn btn-primary"  data-dismiss="modal">确定</button>
				<!--<button class="btn btn-default" data-dismiss="modal"  id="btn_cancle">取消</button>  -->
			</div>
 		</div>
	</div>
</div>
<!-- /提示模态框声明 -->