<layout name="Layout/layout" />
<script src="__PUBLIC__/User/js/order.js"></script>
<link rel="stylesheet" href="__PUBLIC__/User/css/order.css">

<!--主体部分-->
<div class="container" style=" padding:0px;">
	<div style="margin-top:60px ;">
		<div class="row" style="margin:0 auto;">
			<!--订单左侧栏-->
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding-right:15px; margin-bottom:10px;">
				<div style="width: 180px;height:55px;background: url(__PUBLIC__/User/images/order/myorder.png);text-align:center;line-height:55px;">
					<a href="{:U('Index/order')}" style="color:#000000;font-weight:800;">
						我的订单
					</a>
				</div>
			</div>
			<!--/订单左侧栏-->
			
			<!--订单右侧栏-详细信息-->
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-right:15px;">
				<if condition="!empty($myOrderData)">
					<foreach name="myOrderData" item="vo">
					<div class="panel panel-default">
						<div class="panel-body" style="font-size:14px;">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  line_height"><b>{$vo.storename}</b></div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  line_height">
								<b>订单状态：</b>
								<em class="tooltips">
									<if condition="$vo.post_status eq 0">
									派送中
									<elseif condition="$vo.post_status eq 1"/>
									已送餐
									<elseif condition="$vo.post_status eq 2"/>
									已收餐
									<else />
									已取消
									</if>
								</em></div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  line_height"><b>订单号：</b>1490543952245713</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  line_height"><b>下单时间：</b>{$vo.add_times}</div>
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 line_height"><b>手机：</b>{$vo.scr_tel}</div>
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 line_height"><b>地址：</b>{$vo.scr_address}</div>
							<foreach name="vo['goods']" item="vo1">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 line_height">{$vo1.goods_name}</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 line_height">{$vo1.goods_number} × ¥{$vo1.goods_price}</div>
							</foreach>
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 line_height"><b>备注：微辣</b></div>
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 line_height"><b>总计：</b><em class="tooltips">{$vo.total_price}元</em></div>
							<div class="clear"></div>
							<!--<div class="confirm_order btnBase security-btn-01 toConfirm mt-ljx" orderid="1271930" day="{$list.day}">确认收餐</div>-->
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top:10px;"><button type="submit" class="btn btn-primary" style="width:120px;">确认收餐</button></div>
						</div>
					</div>
					</foreach>
				<else/>
				<div class="panel panel-default">
					<div class="panel-body" style="font-size:14px;">
						你的订单列表为空
					</div>
				</div>
				</if>
			</div>
			<!--/订单右侧栏-详细信-->
			
		</div>
	</div>
</div>
<!--/主体部分-->

