<layout name="Index/header_footer" />
<div class="panel-heading">
快点订餐系统管理中心--修改权限
<a href="<?php echo U('lst'); ?>"  class="addright" ><span class="glyphicon glyphicon-plus">权限列表</span></a>
</div>
<form action="" method="post" >
<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
<table class="table table-bordered table-hover">
	<tr>
		<td class="mytd">上级权限：</td>
		<td>
			<select name="parent_id" class="form-control input-sm" style="width:auto;">
				<option value="0">顶级权限</option>
				<?php foreach ($parentData as $k => $v): ?> 
				<?php if($v['id'] == $data['id'] || in_array($v['id'], $children)) continue; ?>
				<?php 
					if($v['id'] == $data['parent_id'])  
						$select = 'selected="selected"';
					else 
						$select = '';
				 ?>
				<option {$select} value="<?php echo $v['id']; ?>" ><?php echo str_repeat('-', 8*$v['level']).$v['pri_name']; ?></option>
				<?php endforeach; ?>	
			</select>
		</td>
	</tr>
	<tr>
	    <td class="mytd">权限名称：</td>
	    <td>
	        <input  type="text" name="pri_name" value="<?php echo $data['pri_name']; ?>" />
	    </td>
	</tr>
	<tr>
	    <td class="mytd">模块名称：</td>
	    <td>
	        <input  type="text" name="module_name" value="<?php echo $data['module_name']; ?>" />
	    </td>
	</tr>
	<tr>
	    <td class="mytd">控制器名称：</td>
	    <td>
	        <input  type="text" name="controller_name" value="<?php echo $data['controller_name']; ?>" />
	    </td>
	</tr>
	<tr>
	    <td class="mytd">方法名称：</td>
	    <td>
	        <input  type="text" name="action_name" value="<?php echo $data['action_name']; ?>" />
	    </td>
	</tr>
	<tr>
		<td colspan="99" align="center">
			<input type="submit" class="button" value=" 确定 " />
			<input type="reset" class="button" value=" 重置 " />
		</td>
	</tr>
</table>
</form>
<script>
$(":submit").click(function(){
	var sec = 3;
	$(this).attr('disabled','disabled');
	$(this).val(sec + "秒之后提交");
	var _this = $(this);
	setInterval(function(){
		if(--sec == 0)
		{
			$("form[name=main_form]").submit();
	
		}
		else
			_this.val(sec + "秒之后提交");
		_this.val();
	},1000);
});
</script>